
*.mdb
/.vs/JotForm/CopilotIndices/0.2.1648.49400
/.vs
/packages/Newtonsoft.Json.13.0.3
/JotFormTest/obj/Release
/JotFormTest/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/JotFormTest/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/JotFormTest/obj/Debug/build.force
/JotFormTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/JotFormTest/obj/Debug/JotFormT.3948CF90.Up2Date
/JotFormTest/obj/Debug/JotFormTest.csproj.AssemblyReference.cache
/JotFormTest/obj/Debug/JotFormTest.csproj.CoreCompileInputs.cache
/JotFormTest/obj/Debug/JotFormTest.csproj.FileListAbsolute.txt
/JotFormTest/obj/Debug/JotFormTest.exe
/JotFormTest/obj/Debug/JotFormTest.pdb
/JotFormTest/bin/Debug/JotForm.dll
/JotFormTest/bin/Debug/JotForm.pdb
/JotFormTest/bin/Debug/JotFormTest.exe
/JotFormTest/bin/Debug/JotFormTest.exe.config
/JotFormTest/bin/Debug/JotFormTest.pdb
/JotForm/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/JotForm/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/JotForm/obj/Debug/build.force
/JotForm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/JotForm/obj/Debug/JotForm.csproj.AssemblyReference.cache
/JotForm/obj/Debug/JotForm.csproj.CoreCompileInputs.cache
/JotForm/obj/Debug/JotForm.csproj.FileListAbsolute.txt
/JotForm/obj/Debug/JotForm.csproj.Up2Date
/JotForm/obj/Debug/JotForm.dll
/JotForm/obj/Debug/JotForm.pdb
/JotForm/obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/JotForm/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/JotForm/obj/Release/JotForm.csproj.AssemblyReference.cache
/JotForm/bin/Debug/JotForm.dll
/JotForm/bin/Debug/JotForm.pdb
